@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700');
@import url('https://fonts.googleapis.com/css?family=Roboto');

.ps,.ai,.id,.ae,.pr,.lr{
  font-weight:600;
  border-radius:100%;
  height: 40px;
  width: 50px;
  text-align:center;
  padding-top: 12.5px;
  margin:12px; 
  font-size: 16pt; 
  display: inline-block;
  left:1px;
  }

.ps{
  color:#eee;
  border: solid 4px #0099cc;
  background-color:#0099cc;  
  }
.ai{
  color: #eee;
  border: solid 4px #ff9933;
  background-color:#ff9933;
  }
.id{
   color: #eee;
   border: solid 4px #a9355c;
   background-color: #a9355c;
   left:150px;
   }
.ae{
   color: #eee;
   border: solid 4px #874e93;
   background-color: #874e93;
   }
.pr{
   color:  #eee;
   border: solid 4px  #924a8a;
   background-color: #924a8a; 
   left:150px;
   }
.lr{
   color:  #eee;
   border: solid 4px  #87b8c7;
   background-color: #87b8c7; 
   left:150px;
   }


.p1,.p2,.p3,.p4,.p5{
 border: solid 0px #0099cc;
 height:15px;
 width:15px;
 border-radius:100%;
 background:#0099cc;
 flex:1;
 margin:5px;
}
.p2{
 position:absolute;
 left:22%;
}
.p3{
 position:absolute;
 left:28%;
}

.p4{
 position:absolute;
 left:34%;
}
.p5{
 position:absolute;
 left:40%;
}
.a1,.a2,.a3,.a4,.a5{
 border: solid 0px ;
 height:15px;
 width:15px;
 border-radius:100%;
 background: #ff9933;
 float:left;
 position:absolute;
 top:83.9%;
 left:16%;
 margin:5px;
}
.a2{
 position:absolute;
 left:22%;
}
.a3{
 position:absolute;
 left:28%;
}

.a4{
 position:absolute;
 left:34%;
}
.a5{
 position:absolute;
 left:40%;
}

.l1,.l2,.l3,.l4,.l5{
 border: solid 0px ;
 height:15px;
 width:15px;
 border-radius:100%;
 background:#87b8c7;
 float:left;
 position:absolute;
 top:74.9%;
 left:65%;
 margin:5px;
}
.l2{
 position:absolute;
 left:71%;
}
.l3{
 position:absolute;
 left:77%;
}

.l4{
 position:absolute;
 left:83%;
}
.l5{
 position:absolute;
 left:89%;
}

.e1,.e2,.e3,.e4,.e5{
 border: solid 1px #874e93;
 height:15px;
 width:15px;
 border-radius:100%;
 float:left;
 position:absolute;
 top:92%;
 left:16%;
 margin:5px;
}
.e1{
  background:#874e93;
}
.e2{
 background:#874e93;
 position:absolute;
 top:92%;
 left:22%;
}
.e3{
  background:#874e93;
  position:absolute;
  left:28%;
}

.e4{
 position:absolute;
 left:34%;
}
.e5{
 position:absolute;
 left:40%;
}
.r1,.r2,.r3,.r4,.r5{
 border: solid 1px #924a8a;
 height:15px;
 width:15px;
 border-radius:100%;
 float:left;
 position:absolute;
 top:92%;
 left:65%;
 margin:5px;
}
.r1{
  background:#924a8a;
}
.r2{
 background:#924a8a;
 position:absolute;
 left:71%;
}
.r3{
  background:#924a8a;
  position:absolute;
  left:77%;
}

.r4{
 position:absolute;
 left:83%;
}
.r5{
 position:absolute;
 left:89%;
}
.d1,.d2,.d3,.d4,.d5{
 border: solid 0px;
 height:15px;
 width:15px;
 border-radius:100%;
 background:#a9355c;
 float:left;
 position:absolute;
 top:83.5%;
 left:65%;
 margin:5px;
}
.d2{
 position:absolute;
 left:71%;
}
.d3{
 position:absolute;
 left:77%;
}

.d4{
 position:absolute;
 left:83%;
}
.d5{
 position:absolute;
 left:89%;
}
.ch{
  border:solid 0.5px #ff6666 ;
  border-radius:10%;
  height:15px;
  width:200px;
  top:-115px;
  left:35%;
  background-color: #ff6666;
  
}
.en{
  
  border:solid 1px ;
  border-radius:10%;
  height:15px;
  width:200px;
  top:-95px;
  left:35%;

}

.en2{
  
  border:solid 0.1px #ff6666 ;
  border-radius:10%;
  height:15px;
  width:135px;
  top:-112px;
  left:35.1%;
  background-color:  #ff6666;
}

.fr{
  
  border:solid 1px  ;
  border-radius:10%;
  height:15px;
  width:200px;
  top:-90px;
  left:35%;
}
.fr2{
  
  border:solid 0.1px #ff6666 ;
  border-radius:10%;
  height:15px;
  width:75px;
  top:-107.5px;
  left:35.1%;
  background-color: #ff6666;
}